* {
  font-family: Terminess Nerd Font Mono;
  font-size: 14px;
}

tooltip {
  background-color: #3B4252;
  margin-top: 5px;
  border-radius: 10px;
}

tooltip label {
  color: #D8DEE9;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.0); /* Fully transparent */
  border-bottom: none;                 /* No border */
  box-shadow: none;                    /* No shadow */
}

/* Modules remain styled */
#cpu,
#memory,
#battery,
#workspaces,
#clock,
#network,
#bluetooth,
#tray,
#wireplumber,
#window {
  padding: 0 15px;
  margin: 10px 5px;
  border-radius: 15px;
  background-color: #262a34; /* Keep module backgrounds */
}


/* Module colors */
#memory { color: #B48EAD; }

#battery { color: #A3BE8C; }

#network { color: #5E81AC; }

#network.disconnected {
  border: 1px solid #D08770;
  color: #D08770;
}
#bluetooth { color: #81A1C1; }

#bluetooth.on {
  color: #EBCB8B;                    /* Nord Yellow — suggests activity without urgency */
}

#bluetooth.off {
  color: #BF616A
}

#bluetooth.discovering {
  color: #EBCB8B;                    /* Nord Yellow — suggests activity without urgency */
  animation: pulse 1.2s infinite;    /* Subtle animation to show it's actively searching */
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}


#tray { color: #88C0D0; }
#wireplumber { color: #88C0D0; }

#clock {
  color: #D8DEE9;
  margin-right: 10px;
}

#wireplumber.muted {
  font-weight: bold;
  color: #BF616A;
  font-size: 28px;
}

/* Workspace and window styles */
#window {
  padding: 0 15px;
  color: #D8DEE9;
}

#workspaces {
  padding: 5px;
}

#workspaces button {
  background-color: #3b4252;
  color: #D8DEE9;
  padding: 0px 5px;
  margin: 0px 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: #B48EAD;
  color: #ECEFF4;
  padding: 0px 20px;
  border-radius: 20px;
}

#workspaces button:hover {
  background-color: #4C566A;
  color: #ECEFF4;
  border-radius: 20px;
}

#workspaces button.urgent {
  background-color: #BF616A;
}

/* #wireplumber.muted { */
/*   font-size: 28px; */
/* } */
